asn1crypto==1.4.0
attrs==20.3.0
Brlapi==0.8.2
catfish==4.16.0
chardet==4.0.0
coverage==5.5
dbus-python==1.2.16
debtags==2.1
flake8==3.9.1
html5lib==1.1
iniconfig==1.1.1
kazam==1.4.5
lightdm-gtk-greeter-settings==1.2.2
louis==3.16.0
mccabe==0.6.1
mechanize==0.4.5
netifaces==0.10.9
packaging==20.9
pexpect==4.8.0
pluggy==0.13.1
py==1.10.0
pycairo==1.16.2
pycodestyle==2.7.0
pyflakes==2.3.1
PyGObject==3.38.0
pyparsing==2.4.7
pytest==6.2.3
pytest-cov==2.11.1
python-apt==2.1.7
python-debian==0.1.39
pyxdg==0.27
six==1.15.0
toml==0.10.2
urllib3==1.26.2
webencodings==0.5.1
xdg==5
